<div class="container" *ngIf="isDataLoaded" [@fadeInOut]>
  <div class="row">
      <div class="col-md">
    <h2>Details</h2>

      <hr />
      </div>
  </div>
  <div class="row">
      <div class="col-md">
      <div class="jumbotron">
        <div class="row">
            <div class="col-md image-preview">
                <img src="{{imagesHostPath+details.imageUrl}}" (error)="img.src = '/img/none.jpg'" #img alt="">
            </div>
          <div class="col-md-6">
            <p id="itemTitle">{{details.title}}</p>
            <p id="itemAuthor">{{details.author}}</p>

            <table class="table-detais-info">
                <tr>
                    <td>{{details.type=='book'?'Genre' : 'Category'}}</td>
                    <td>{{details.genre}}</td>
                </tr>
                <tr *ngIf="details.type=='journal'">
                    <td>Frequency:</td>
                    <td>{{details.frequency}}</td>
                </tr>
                <tr>
                    <td>Year:</td>
                    <td>{{details.year}}</td>
                </tr>
                <tr>
                    <td>Publisher:</td>
                    <td>{{details.publisher}}</td>
                </tr>
                <tr *ngIf="details.type=='book'">
                    <td>Pages:</td>
                    <td>{{details.pages}}</td>
                </tr>
                <tr>
                    <td>Count:</td>
                    <td>{{details.numbersOfCopies}}</td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td>{{details.price}}</td>
                </tr>
            </table>
          </div>

          <div class="col-md" *ngIf="details.type=='book'">
            <table class="table-isbn-info">
              <tr>
                <td class="itemLabel">ISBN:</td>
                <td class="itemValue">{{details.isbn}}</td>
              </tr>
            </table>
          </div>


        </div>
        <div class="row">
          <div class="col-md-12">
            <p id="itemDescription">{{details.description}}</p>
          </div>
        </div>
        <div class="row">
          <div class="footer-controls">
            <div class="downloadButton">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Download
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="javascript:void(0)" (click)="downloadfile('xml')">XML</a>
                <a class="dropdown-item" href="javascript:void(0)" (click)="downloadfile('txt')">TXT</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <a [routerLink]="details.type=='book'?['/editbook', details.id]:
    details.type=='journal'?'/editjournal/'+details.id:    
    details.type=='brochure'?'/editbrochure/'+details.id: '/' ">Edit</a>
  </div>
</div>