<div class="container body-content" [class.showIn]="isDataLoaded">
    <form #form="ngForm"  (ngSubmit)="onSubmit(form)" novalidate>
        <div class="form-horizontal">
            <h4>{{isEdit?'Edit Book': 'Add New Book'}}</h4>
            <hr />
            <div class="row">
                <div class="col-md">
                    <div class="col-md">
                        <label for="title">Title</label>
                        <input required [(ngModel)]="book.title" name="title" type="text" class="form-control" placeholder="Book title" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <input [(ngModel)]="book.id" name="id" type="hidden">
                    <input [(ngModel)]="book.imageUrl" name="imageUrl" type="hidden">
                    <div class="col-md">
                        <label for="author">Author</label>
                        <input required [(ngModel)]="book.author" name="author" type="text" class="form-control" maxlength="70" placeholder="Book author" />
                    </div>
                    <div class="col-md">
                        <label for="genre">Genre</label>
                        <input required [(ngModel)]="book.genre" name="genre" type="text" class="form-control" placeholder="Fantasy, comey, drama, ets... " maxlength="50" />
                    </div>
                    <div class="col-md">
                        <label for="year">Year</label>
                        <input required [(ngModel)]="book.year" name="year" type="text" class="form-control" placeholder="Year published"
                               pattern="^[0-9]*$"
                               maxlength="4" />
                    </div>
                    <div class="col-md">
                        <label for="price">Price</label>
                        <input required [(ngModel)]="book.price" name="price" type="text" class="form-control" placeholder="Like 0.00"
                               pattern="^[0-9]+\.?[0-9]*$"
                               maxlength="6"/>
                    </div>
                </div>
                <div class="col-md">
                    <div class="col-md">
                        <label for="language">Language</label>
                        <input required [(ngModel)]="book.language" name="language" type="text" class="form-control" placeholder="Language" maxlength="100" />
                    </div>
                    <div class="col-md ">
                        <label for="publisher">Publisher</label>
                        <input required [(ngModel)]="book.publisher" name="publisher"  type="text" class="form-control" placeholder="Book publisher" maxlength="100" />
                    </div>
                    <div class="col-md">
                        <label for="pages">Pages</label>
                        <input required [(ngModel)]="book.pages" name="pages" type="text" class="form-control" placeholder="Pages" 
                               pattern="^[0-9]*$"
                               maxlength="5"/>
                    </div>
                </div>
                <div class="col-md">
                    <div class="col-md">
                        <label for="count">Numbers Of Copies</label>
                        <input required [(ngModel)]="book.numbersOfCopies" name="numbersOfCopies" type="text" class="form-control" placeholder="Numbers Of Copies"
                               pattern="^[0-9]*$"
                               maxlength="4"/>
                    </div>
                    <div class="col-md">
                        <label for="country">Country</label>
                        <input required [(ngModel)]="book.country" name="country" type="text" class="form-control" placeholder="Country" maxlength="50" />
                    </div>
                    <div class="col-md">
                        <label for="isbn">ISBN</label>
                        <input required [(ngModel)]="book.isbn" name="isbn" type="text" class="form-control" placeholder="ISBN" 
                               maxlength="50"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="col-md">
                        <label for="description">Description</label>
                        <textarea [(ngModel)]="book.description" name="description" cols="20" class="form-control" rows="5" maxlength="1000"></textarea>
                    </div>
                </div>
                <div class="col-md-4 imageSelector">
                    <image-selector #imageInput [imagesHostPath]="imagesHostPath"></image-selector>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-success" value="{{isEdit?'Save Changes': 'Add new Book'}}" [disabled]="form.invalid"/>
            </div>
        </div>
    </form>
    <hr />
    <footer>
        <p>&copy; 2017 - Library Application</p>
    </footer>
</div>