<div class="container body-content" [class.showIn]="isDataLoaded">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
        <div class="form-horizontal">
            <h4>{{isEdit?'Edit Journal': 'Add New Journal'}}</h4>
            <hr />
            <div class="row">
                <div class="col-md">
                    <div class="col-md">
                        <label for="title">Title</label>
                        <input required [(ngModel)]="journal.title" name="title" type="text" class="form-control" placeholder="Journal title">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <input [(ngModel)]="journal.id" type="hidden" name="id">
                    <input [(ngModel)]="journal.imageUrl" type="hidden" name="imageUrl">
                    <div class="col-md">
                        <label for="genre">Category</label>
                        <input required [(ngModel)]="journal.genre" name="genre" type="text" class="form-control" placeholder="Sport, food, travel, ets..." maxlength="50" />
                    </div>
                    <div class="col-md">
                        <label for="year">Year</label>
                        <input required [(ngModel)]="journal.year" name="year" type="text" class="form-control" placeholder="Year published"
                               pattern="^[0-9]*$"
                               maxlength="4" />
                    </div>
                    <div class="col-md">
                        <label for="price">Price</label>
                        <input required [(ngModel)]="journal.price" name="price" type="text" class="form-control" placeholder="Like 0.00"
                               pattern="^[0-9]+\.?[0-9]*$"
                               maxlength="6" />
                    </div>
                </div>
                <div class="col-md">
                    <div class="col-md">
                        <label for="language">Language</label>
                        <input required [(ngModel)]="journal.language" name="language" type="text" class="form-control" placeholder="Language" maxlength="100" />
                    </div>
                    <div class="col-md ">
                        <label for="publisher">Publisher</label>
                        <input required [(ngModel)]="journal.publisher" name="publisher" type="text" class="form-control" placeholder="Journal publisher" maxlength="100" />
                    </div>
                    <div class="col-md ">
                        <label for="publisher">Frequency</label>
                        <input required [(ngModel)]="journal.frequency" name="frequency" type="text" class="form-control" placeholder="Frequency" maxlength="100" />
                    </div>
                </div>
                <div class="col-md">
                    <div class="col-md">
                        <label for="count">Numbers Of Copies</label>
                        <input required [(ngModel)]="journal.numbersOfCopies" name="numbersOfCopies" type="text" class="form-control" placeholder="Numbers Of Copies"
                               pattern="^[0-9]*$"
                               maxlength="4" />
                    </div>
                    <div class="col-md">
                        <label for="country">Country</label>
                        <input required [(ngModel)]="journal.country" name="country" type="text" class="form-control" placeholder="Country" maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="col-md">
                        <label for="description">Description</label>
                        <textarea [(ngModel)]="journal.description" name="description" cols="20" class="form-control" rows="5" maxlength="1000"></textarea>
                    </div>
                </div>
                <div class="col-md-4 imageSelector">
                    <image-selector #imageInput [imagesHostPath]="imagesHostPath"></image-selector>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-success" value="{{isEdit?'Save Changes': 'Add new Journal'}}" [disabled]="!form.valid" />
            </div>
        </div>
    </form>
    <hr />
    <footer>
        <p>&copy; 2017 - Library Application</p>
    </footer>
</div>